/* Global style 
body {
    background-image: url('assets/images/background.jpg');
    background-color: #fdca40;
    background-size: cover;
    color: #3772ff;
    font-family: 'Antic', sans-serif;
    text-align: center;
}*/