/* GLOBAL STYLE*/
body {
    background: url('../images/background2.avif');
    background-color: #fdca40;
    /*sets background colour in case image does not load*/
    background-size: cover;
    color: #0043DE;
    font-family: 'Antic', sans-serif;
    font-size: 100%;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 4em;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px #e6e8e6;
    margin: auto;
}

/*TEXT BOXES*/

/* Intro box style */
.intro-box {
    /* converted #fdca40 to rgba to allow setting of opacity; 
    https://www.geeksforgeeks.org/set-the-opacity-only-to-background-color-not-on-the-text-in-css/ */
    background-color: rgba(253, 202, 64, 0.9);
    border: solid #e6e8e6 3px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e6e8e6;
    margin: auto;
    /*font-size: 1.2em;*/
    width: fit-content;
}

#rules-title {
    text-align: center;
}

#rules-box {
    background-color: rgba(253, 202, 64, 0.9);
    border-radius: 15px;
    box-shadow: 5px 5px 5px #0043DE;
    display: inline-block;
    font-size: 1.0em;
    letter-spacing: 1px;
    margin-top: 15%;
    padding: 5px;
    text-align: left;
}

/*gives line breaks between list items*/
#rules-box li {
    margin: 1em; 
}

.score-display {
    background-color: rgba(253, 202, 64, 0.9);
    border-radius: 15px;
    box-shadow: 5px 5px 5px #0043DE;
    display: inline-block;
    letter-spacing: 1px;
    padding: 1% 5%;
    font-size: 0.8em;
    text-align: center;
}

#progress {
    margin-top: 1%;
}

#tracker {
    margin-bottom: 1%;
}

/*  Question box style*/
#question-box {
    /* converted #fdca40 to rgba to allow setting of opacity; 
    https://www.geeksforgeeks.org/set-the-opacity-only-to-background-color-not-on-the-text-in-css/
    background-color: rgba(253, 202, 64, 0.9);*/
    background-color: #e6e8e6;
    border: solid #e6e8e6 3px;
    border-radius: 15px;
    background-color: #e6e8e6;
    box-shadow: 5px 5px 5px #0043DE;
    color: #df2935;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5%;
}

/*  Set flexbox mode for question-options container*/
.options-container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/*  Style question-options boxes*/
.answer-option {
    width: 125px;
    height: 80px;
    border-radius: 15px;
    border: solid #e6e8e6 3px;
    box-shadow: 5px 5px 5px #0043DE;
    background-color: #e6e8e6;
    color: #0043DE;
    font-size: 1.3em;
    letter-spacing: 1px;
    margin: 5%;
}

#reminder {
    background-color: rgba(253, 202, 64, 0.9);
    border-radius: 15px;
    box-shadow: 5px 5px 5px #df2935;
    color: #df2935;
    display: block;
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
    height: fit-content;
    letter-spacing: 5px;
    position: fixed;
    text-align: center;
    text-shadow: 4px 4px #e6e8e6;
    width: 100%;
    z-index: 2;

    top: 33%;
    left: 0;
    right: 0;
    bottom: 0;

}

#outro-box {
    width: fit-content;
    margin: auto;
    border: solid #e6e8e6 3px;
    border-radius: 15px;
    /* converted #fdca40 to rgba to allow setting of opacity; 
    https://www.geeksforgeeks.org/set-the-opacity-only-to-background-color-not-on-the-text-in-css/ */
    background-color: rgba(253, 202, 64, 0.9);
    box-shadow: 5px 5px 5px #e6e8e6;
    font-size: 1.4em;
    letter-spacing: 1px;
    margin-top: 15%;
}

/* BUTTONS*/
/*  'Let's play!' button style*/

.white-button {
    background-color: #e6e8e6;
    box-shadow: 5px 5px 5px #0043DE;
    border-radius: 15px;
    border: solid #e6e8e6 3px;
    color: #df2935;
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-top: 15%;
    padding: 20px;
    text-align: center;
}

/*  changes white button font and shadow colours on mouse hover */
.white-button:hover {
    color: #0043DE;
    box-shadow: 5px 5px 5px #df2935;
}

.red-button {
    background-color: rgba(253, 202, 64, 0.9);
    border-radius: 15px;
    border: solid #e6e8e6 3px;
    box-shadow: 5px 5px 5px #0043DE;
    /*background-color: #e6e8e6;*/
    color: #df2935;
    display: inline-block;
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-top: 15%;
    padding: 20px;
    text-align: center;
}

#rules-button {
    background-color: rgba(253, 202, 64, 0.9);
    border-radius: 15px;
    border: solid #e6e8e6 3px;
    box-shadow: 5px 5px 5px #0043DE;
    /*background-color: #e6e8e6;*/
    color: #df2935;
    display: inline-block;
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-top: 15%;
    padding: 20px;
    text-align: center;
}

#go-back {
    background-color: rgba(253, 202, 64, 0.9);
    border-radius: 15px;
    border: solid #e6e8e6 3px;
    box-shadow: 5px 5px 5px #0043DE;
    /*background-color: #e6e8e6;*/
    color: #df2935;
    display: inline-block;
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-top: 15%;
    padding: 20px;
    text-align: center;
}

/*  Style next-button*/
#next-button {
    text-align: center;
    border-radius: 15px;
    border: solid #e6e8e6 3px;
    padding: 20px;
    box-shadow: 5px 5px 5px #0043DE;
    /*background-color: #e6e8e6;*/
    color: #df2935;
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-top: 15%;
    background-color: rgba(253, 202, 64, 0.9);
}

#end-button {
    text-align: center;
    border-radius: 15px;
    border: solid #e6e8e6 3px;
    padding: 20px;
    box-shadow: 5px 5px 5px #0043DE;
    /*background-color: #e6e8e6;*/
    color: #df2935;
    font-family: 'Bangers', cursive;
    font-size: 2.0em;
    letter-spacing: 1px;
    margin-top: 15%;
    background-color: rgba(253, 202, 64, 0.9);
    display: none;
}

#go-home-button {
    text-align: center;
    border-radius: 15px;
    border: solid #e6e8e6 3px;
    padding: 20px;
    box-shadow: 5px 5px 5px #0043DE;
    /*background-color: #e6e8e6;*/
    color: #df2935;
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-top: 15%;
    background-color: rgba(253, 202, 64, 0.9);
}

/*  changes 'next' button font and shadow colours on mouse hover */
.next-button:hover {
    color: #0043DE;
    box-shadow: 5px 5px 5px #df2935;
}

/* SECTION DISPLAYS */
#home-display {
    display: block;
    margin-top: 10%;
}

#rules-display {
    display: none;
}

#game-display {
    display: none;
    margin-top: 3%;
}

#end-page {
    display: none;
}

/*  USER ANSWER FEEDBACK DISPLAY */
.correct-answer {
    background-color: green;
    /*border-width: 1.0rem;*/
}

.wrong-answer {
    background-color: #df2935;
    /*border-width: 1.0rem;*/
}

/*  MEDIA QUERIES*/

/* FOR SCREEN SIZES from 577 - 900px wide */
@media screen and (min-width: 577px) {

    /* controls flex box size so that answerOption boxes stay in 2x2 layout */
    .options-container {
        flex-flow: row;
    }
}